       @* *IMAGE SLIDER START *@
<div id="imgsliderdiv">
    <div class="slider">
      <div class="slide active">
        <video class="myvideo" src="~/videos/slide1vid.mp4" autoplay muted loop></video>
      </div>
      <div class="slide">
        <video class="myvideo" src="~/videos/s1vid.mp4" autoplay muted loop></video>
        <div id="s2info" class="info">
          <h2 id="weare" class="textoverpic">We are</h2>
          <p id="thecycle" class="textoverpic"><span id="breaking">BREAKING</span> THE CYCLE</p>
          <p id="generationalpoverty" class="textoverpic">OF GENERATIONAL POVERTY</p>
          <p id="empowering" class="textoverpic">Empowering the next generation of girls to explore opportunities and careers in STEM.</p>
          <a href="/"><img id=breakbtn src="~/images/laelynnimages/brkthecycle.png" alt="button"></a>
        </div>
      </div>
      <div class="slide">
        <img src="~/images/laelynnimages/sld3.png" alt="">
        @* <div class="info">
          <h2>Steaming Volcanoes</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> *@
      </div>
      <div class="slide">
        <img src="~/images/laelynnimages/img4.jpg" alt="">
        <div class="info">
          <h2>Mountain River</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="slide">
        <img src="~/images/laelynnimages/img3.jpeg" alt="">
        <div class="info">
          <h2>Egypt Pyramids</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="navigation">
        <i class="fas fa-chevron-left prev-btn"></i>
        <i class="fas fa-chevron-right next-btn"></i>
      </div>
      <div class="navigation-visibility">
        <div class="slide-icon active"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
      </div>
    </div>     
</div>