<div id="OurMission">
    <img id="missionheader" src="~/images/laelynnimages/mh.png" alt="Our Mission">
    <div class="">
        <h1 class="missionword">AWARENESS</h1>
        <h1 class="missionword">ANOTHERWORD</h1>
        <h1 class="missionword">PROFESSIONALISM</h1>
    </div>
</div>
