    <div id="WhatWeDo">
        <h1 class="wwdhead">WHAT WE DO</h1>
        <div class="imgsrow">
            <img class="laeimg" src="~/images/laelynnimages/wwd1.png" alt="">
            <img class="laeimg" src="~/images/laelynnimages/wwd2.png" alt="">
            <img class="laeimg" src="~/images/laelynnimages/wwd3.png" alt="">
            <img class="laeimg" src="~/images/laelynnimages/wwd4.png" alt="">
        </div>
        <div class="prow">
            <p class="prowleft">We get girls into tech.</p>
            <p class="prowright">CodePink's LAELYNN foundation is responsible for changing the lives of young women in underserved and underepresented communities. We are sell state of the art tech gear to women already working in tech, and give the same equipment to our students. We also offer courses in Software Engineering, Data Science, UI/UX Design, and Web Development. Tell someone about us.</p>
        </div>
    </div>