<link rel="stylesheet" href="~/css/nav/nav.css">
<nav>
    <a href="/codepink/laelynn">LAELYNN</a>
    <a href="/codepink/studentlogin">STUDENT LOGIN</a>
    <a href="/codepink/aboutus">ABOUT US</a>
    <a href="/"><img id="logo" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            Shop
        </a>
        <ul id="submenu" class="classthree">
            <li><a href="/shop/allproducts" class="dropdown-item">Laptops</a></li>
            <li><a href="/shop/cupcakes" class="dropdown-item">Monitors & Desktops</a></li>
            <li><a href="/shop/cookies" class="dropdown-item">iPads & Tablets</a></li>
            <li><a href="/shop/cookies" class="dropdown-item">Earphones & Earbuds</a></li>
            <li><a href="/shop/cookies" class="dropdown-item">Tech Accessories</a></li>
            <li><a href="/shop/cookies" class="dropdown-item">Furniture</a></li>
            <li><a href="/shop/cookies" class="dropdown-item">Desk Accessories</a></li>
        </ul>
            </li>
    <a href="/codepink/reviews">PRODUCT REVIEWS</a>
    <a href="/codepink/cart"><img id="cartimg" src="~/images/navimgs/whitecart.png" alt="cart"></a>
</nav>