<link rel="stylesheet" href="~/css/nav/nav.css">
<nav>
    <ul>
        <li><a href="/codepink/laelynn">LAELYNN</a></li>
    </ul>
    <ul>
        <li><a href="/codepink/studentlogin">STUDENT LOGIN</a></li>
    </ul>
    <ul>
        <li><a href="/codepink/aboutus">ABOUT US</a></li>
    </ul>    
    <ul>
        <li><a href="/"><img id="logo" src="~/images/indeximgs/cplogo.png" alt="logo"></a></li>
    </ul>      
    <ul>
        <li><a href="/codepink/shop">SHOP</a></li>
    </ul>       
    <ul>
        <li><a href="/codepink/reviews">PRODUCT REVIEWS</a></li>
    </ul>    
    <ul>
        <a href="/codepink/cart"><img id="cartimg" src="~/images/navimgs/whitecart.png" alt="cart"></a>
    </ul>    
    
</nav>