<link rel="stylesheet" href="~/css/nav/nav.css">
<nav>
    <a href="/codepink/laelynn">LAELYNN</a>
    <a href="/">STUDENT LOGIN</a>
    @* <a href="/"><img id="logo" src="~/images/indeximgs/cplogo.png" alt="logo"></a> *@
    <a href="/">SHOP</a>
    <a href="/">PRODUCT REVIEWS</a>
    <a href="/"><img id="cartimg" src="~/images/navimgs/whitecart.png" alt="cart"></a>
</nav>