<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePink Laelynn Org</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Comfortaa:wght@300&family=Roboto&family=Sacramento&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/login.css"> *@
</head>
<body>
    <header>
        @await Html.PartialAsync("LaePartials/_TopNav")
        @await Html.PartialAsync("LaePartials/_LaelynnNav")          
    </header>
    <main>
        @await Html.PartialAsync("LaePartials/_ImageSlider")
        @await Html.PartialAsync("LaePartials/_OurMission")
    <div id="WhatWeDo">
                <h1>What We Do</h1>
                <p>Chocolate bar carrot cake chocolate cupcake donut jelly beans sesame snaps. Muffin lemon drops muffin pudding cheesecake. Jelly-o jelly cake tootsie roll cotton candy oat cake. Tootsie roll ice cream marzipan candy gingerbread gummies chocolate. Macaroon pastry tootsie roll gummi bears ice cream halvah oat cake. Dessert cake jelly beans apple pie icing cupcake. Lemon drops fruitcake dragée carrot cake muffin donut muffin sweet roll cheesecake. Pastry wafer gummi bears brownie chupa chups.</p>
            </div>

            @await Html.PartialAsync("LaePartials/_Sponsors") 

        
        <div id="ProgramsAndCourses">

        </div>
        <div id="#laelynnreviews">
            <h1>Girls We've Helped</h1>
            <div>
                <img src="" alt="image of girl 1">
                <h5> Bonbon jujubes topping biscuit cake sweet jelly beans. Candy gummies oat cake caramels dragée lollipop. Jelly sesame snaps carrot cake gummies jujubes bonbon. Fruitcake dragée chocolate cake lemon drops jujubes.</h5>
            </div>
            <div>
                <img src="" alt="image of girl 2">
                <h5> Bonbon jujubes topping biscuit cake sweet jelly beans. Candy gummies oat cake caramels dragée lollipop. Jelly sesame snaps carrot cake gummies jujubes bonbon. Fruitcake dragée chocolate cake lemon drops jujubes.</h5>
            </div>
            <div>
                <img src="" alt="image of girl 3">
                <h5> Bonbon jujubes topping biscuit cake sweet jelly beans. Candy gummies oat cake caramels dragée lollipop. Jelly sesame snaps carrot cake gummies jujubes bonbon. Fruitcake dragée chocolate cake lemon drops jujubes.</h5>
            </div>
        </div>

        @* BOARD OF DIRECTORS SECTION *@
        <div id="BoardOfDirectors">
            <img id="BODB" src="~/images/laelynnimages/BODB.png" alt="BOD banner">
            <div id="bodhandp">
                <h1 id="bodheadtext">Board of Directors</h1>
                <p id="bodpar">Made up of passionate and determined people from all walks of life who are committed to the belief that service and education can break the cycle and give girls hope. Our board includes community and business leaders ready to bring change.</p>    
            </div>
        <div class="bodpeople">
            <div class="bodperson">
                <img class="bodpersonpic" src="~/images/laelynnimages/1.png" alt="">
                <div class="bodpersoncolumn">
                    <div class="bodepersonnameandlinkedrow">
                        <h1 class="bodpersonname">Stacy Rhinehart</h1>
                        <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                    </div>
                    <div class="bodpersonparcolumn">
                        <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas! :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich before you walk back in that boardroom can we parallel path, for no need to talk to users, just base it on the space calculator anti-pattern.</p>
                        <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer. We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor marginalised key performance indicators call in the air support.</p>
                    </div>
                </div>
            </div>

            <div class="bodperson">
                <div class="bodpersoncolumn">
                    <div class="bodepersonnameandlinkedrow">
                        <h1 class="bodpersonname">Kayla Richards</h1>
                        <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                    </div>
                    <div class="bodpersonparcolumn">
                        <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas! :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich before you walk back in that boardroom can we parallel path, for no need to talk to users, just base it on the space calculator anti-pattern.</p>
                        <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer. We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor marginalised key performance indicators call in the air support.</p>
                    </div> 
                </div>               
                <img class="bodpersonpicright" src="~/images/laelynnimages/2.png" alt="">
            </div>

            <div class="bodperson">
                <img class="bodpersonpic" src="~/images/laelynnimages/3.png" alt="">
                <div class="bodpersoncolumn">
                    <div class="bodepersonnameandlinkedrow">
                        <h1 class="bodpersonname">Jessica Moreno</h1>
                        <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                    </div>
                    <div class="bodpersonparcolumn">
                        <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas! :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich before you walk back in that boardroom can we parallel path, for no need to talk to users, just base it on the space calculator anti-pattern.</p>
                        <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer. We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor marginalised key performance indicators call in the air support.</p>
                    </div>
                </div>
            </div>

            <div class="bodperson">
                <div class="bodpersoncolumn">
                    <div class="bodepersonnameandlinkedrow">
                        <h1 class="bodpersonname">Kelsey Stanton</h1>
                        <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                    </div>
                    <div class="bodpersonparcolumn">
                        <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas! :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich before you walk back in that boardroom can we parallel path, for no need to talk to users, just base it on the space calculator anti-pattern.</p>
                        <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer. We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor marginalised key performance indicators call in the air support.</p>
                    </div>
                </div>
                <img class="bodpersonpicright" src="~/images/laelynnimages/4.png" alt="">                    
            </div>

            <div class="bodperson">
                <img class="bodpersonpic" src="~/images/laelynnimages/5.png" alt="">
                <div class="bodpersoncolumn">
                    <div class="bodepersonnameandlinkedrow">
                        <h1 class="bodpersonname">Alexis Nguyen</h1>
                        <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                    </div>
                    <div class="bodpersonparcolumn">
                        <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas! :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich before you walk back in that boardroom can we parallel path, for no need to talk to users, just base it on the space calculator anti-pattern.</p>
                        <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer. We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor marginalised key performance indicators call in the air support.</p>
                    </div>
                </div>
        </div>
        </div>

        <div id="HowToHelp">
            <img src="" alt="How to Help Img">
            <div id="HelpForms">
                <div>
                    @await Html.PartialAsync("LaePartials/_MonetaryDonationForm")    
                </div>
                <img src="" alt="Helpful Image">
                <div>
                    @await Html.PartialAsync("LaePartials/_TechDonationForm")
                </div>
            </div>
        </div>
        <div id="SignUpForLaelynn">
                    @await Html.PartialAsync("LaePartials/_SignUpForm")           
        </div>
    </main>
    <footer>
            @await Html.PartialAsync("LaePartials/_LFooter")
    </footer>


    <script src="~/js/laelynn/lae.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>
    <script src="https://szimek.github.io/signature_pad/js/signature_pad.umd.js"></script>
</body>
</html>