<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePink Laelynn Org</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Comfortaa:wght@300&family=Roboto&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    @* <link rel="stylesheet" href="~/css/login.css"> *@
</head>
<body>
    <header>
        @await Html.PartialAsync("LaePartials/_TopNav")
        @await Html.PartialAsync("LaePartials/_LaelynnNav")          
    </header>
    <main>
        @await Html.PartialAsync("LaePartials/_ImageSlider")
        @await Html.PartialAsync("LaePartials/_OurMission")
        @await Html.PartialAsync("LaePartials/_WhatWeDo")
        @await Html.PartialAsync("LaePartials/_Sponsors") 

        
        <div id="ProgramsAndCourses">

        </div>
        <div id="#laelynnreviews">
            <h1>Girls We've Helped</h1>
            <div>
                <img src="" alt="image of girl 1">
                <h5> Bonbon jujubes topping biscuit cake sweet jelly beans. Candy gummies oat cake caramels dragée lollipop. Jelly sesame snaps carrot cake gummies jujubes bonbon. Fruitcake dragée chocolate cake lemon drops jujubes.</h5>
            </div>
            <div>
                <img src="" alt="image of girl 2">
                <h5> Bonbon jujubes topping biscuit cake sweet jelly beans. Candy gummies oat cake caramels dragée lollipop. Jelly sesame snaps carrot cake gummies jujubes bonbon. Fruitcake dragée chocolate cake lemon drops jujubes.</h5>
            </div>
            <div>
                <img src="" alt="image of girl 3">
                <h5> Bonbon jujubes topping biscuit cake sweet jelly beans. Candy gummies oat cake caramels dragée lollipop. Jelly sesame snaps carrot cake gummies jujubes bonbon. Fruitcake dragée chocolate cake lemon drops jujubes.</h5>
            </div>
        </div>

        @await Html.PartialAsync("LaePartials/_BOD")

                @await Html.PartialAsync("LaePartials/_DonationForm")    


        <div id="SignUpForLaelynn">
                    @await Html.PartialAsync("LaePartials/_SignUpForm")           
        </div>
    </main>
    <footer>
            @await Html.PartialAsync("LaePartials/_LFooter")
    </footer>


    <script src="~/js/laelynn/lae.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>
    <script src="https://szimek.github.io/signature_pad/js/signature_pad.umd.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</body>
</html>